.header {
  background-color: #4759e9 !important;
  color: #f0f9ff !important;
}
.logo {
  margin-right: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.page-title {
  color: #4759e9;
  cursor: none;
}

.searchbox {
  margin-top: 50px !important;
}

.searchbox input:hover {
  background-color: rgb(249, 249, 249);
}

.searchresult {
  margin-top: 10px;
}

.searchitem {
  border: none !important;
  cursor: pointer;
}

.searchitem i {
  margin-right: 5px;
  font-size: 12px;
}

.searchitem:hover {
  background-color: rgb(232, 231, 231);
  border-radius: 25px;
  font-weight: 500;
  color: #4759e9;
}

.searchicon {
  margin-left: -40px;
}

.searchresult :last-child {
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.searchresult :first-child {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.brand{
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.applist .app{
  max-width: 350px;
}

.applist .app-create{
  max-width: 350px;
}

.applist .app .card{
  background-color: lightcyan !important;
}

.applist .card:hover {
  cursor: pointer;
  background-color: #4759e9 !important;
  color: #f0f9ff !important;
}


/** CSS for the footer **/
.footer-dark {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 10px;
  padding: 10px 0;
  color: black;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 10px;
  }
}

.footer-dark .item.text {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 10px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
  margin-bottom: 0;
}

/** Service List Page **/
body {
  background: #eee
}

.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.error{
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

/** HTML Editor CSS **/
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-devices-c{
  padding: 0px !important;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.panel {
    width: 90%;
    max-width: 700px;
    border-radius: 3px;
    padding: 30px 20px;
    margin: 150px auto 0px;
    background-color: #d983a6;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
    color:rgba(255,255,255,0.75);
    font: caption;
    font-weight: 100;
}

.custom_panel__top {
  padding: 0 !important;
  position: absolute; !important;
  left: 280px;
  z-index: 9 !important;
}
.panel__basic-actions {
  position: initial;
}

.sidebar{
  width: 150px;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.sidebar-header {
  position: relative;
  top: 0px;
  width: 100%;
  height: 43px;
  background-color: #444;
  color: white;
  text-align: left;
  font: caption;
  vertical-align: middle;
}

.sidebar-header p{
  padding-top: 12px !important;
  padding-left: 10px;
  margin-bottom: 1rem;
}

.editor{
    position: absolute;
    left: 150px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: auto !important;
    height: auto !important;
}

.componentAddICON{
  margin-left: 15px;
  cursor: pointer;
}

.sidebar-content{
  max-height: 45vh;
  overflow-x: auto;
  font-family: times;
}

.sidebar-item{
  cursor: pointer;
}


/* We can remove the border we've set at the beginnig */

